.appBar {
  background-image: url('../../assets/images/wood-texture.jpg');

  .logoWrapper {
    display: flex;
    align-items: flex-end;

    .logo {
      width: 80px;
    }
  }

  .linearProgress {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
}