.todolistWrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  cursor: grab;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .todolist {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    min-width: 360px;
    padding: 40px 20px;
    font-family: Caveat, sans-serif;
    font-size: 22px;
    font-weight: 700;

    @media (max-width: 768px) {
      max-width: 90%;
      min-width: unset;
    }

    .topTape {
      position: absolute;
      top: -18px;
      left: -32px;
      width: 100px;
      transform: rotate(-20deg);
      order: 1;
    }

    .title {
      margin: 0 auto;
      font-size: 32px;
      text-align: center;
    }

    .dateWrapper {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
      font-size: 18px;
      color: #4f4f4f;
      order: -1;

      span {
        white-space: nowrap;
      }
    }

    .deleteButton {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .list {
      list-style-type: none;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      .filterButton {
        @media (max-width: 768px) {
          padding: 5px;
          text-transform: none;
        }
      }
    }

    .bottomTape {
      @extend .topTape;
      top: unset;
      left: unset;
      bottom: -18px;
      right: -32px;
    }

    * {
      word-break: break-word;
    }
  }
}

.dragging {
  visibility: hidden;
}

.active {
  transition: 0.2s ease-out;
  cursor: grabbing;
  transform: scale(1.05) rotate(2deg);
}