.todolist {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  padding: 40px 20px;
  font-family: Caveat, sans-serif;
  font-size: 22px;
  font-weight: 700;

  .topTape {
    position: absolute;
    top: -18px;
    left: -32px;
    width: 100px;
    transform: rotate(-20deg);
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .list {
    list-style-type: none;
  }

  .bottomTape {
    @extend .topTape;
    top: unset;
    left: unset;
    bottom: -18px;
    right: -32px;
  }

  * {
    word-break: break-word;
  }
}