.container {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  .item {
    justify-content: center;
    max-width: 420px;

    .formControl,
    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #ffffff;

      .infoCard {
        margin-bottom: 40px;
        padding: 10px;
        border: 2px solid #ffffff;
        border-radius: 10px;
      }

      .formLabel {
        font-size: 18px;
        color: #ffffff;
        line-height: 26px;

        .signUp {
          text-align: center;
        }

        a {
          color: #5a94ff;
          text-decoration: none;
        }

        .demoData {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }

    .title {
      text-align: center;
    }

    .formGroup {
      gap: 10px;
    }
  }
}